{:deps {:aliases [:shadow-cljs]}

 :dev-http {8080 "resources/public"}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:main {:init-fn simple.client/init}}
   :devtools {:http-root "resources/public"
              :http-port 8080}}

  :browser-ci
  {:target :karma
   :output-to "target/browser-test/test.js"
   :ns-regexp "browser-integration-test$"
   :compiler-options {:warnings-as-errors true
                      ;; core.async emits terminal expressions in generated
                      ;; state machines that Closure reports as useless code.
                      :closure-warnings {:useless-code :off}}}}}
